##### KATAWERA NOEL EPHRAIM<BR>
##### M24B13/013<BR>
##### BSIT<BR>
##### REMEDIAL TEST FOR PROBABILITY AND STATISTICS TEST1

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [6]:
#load the dataset
housing = pd.read_excel('HousingData.xlsx')
housing.head()

,PID,CRIM,AC,INDUS,LS,PR,RM,AGE,DIS,RAD,PTRATIO,DMT,LSTAT,MO,TAX
0,101,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,15.3,396.90,4.98,2.0,296.0
1,102,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,17.8,396.90,9.14,2.0,242.0
2,103,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,17.8,292.40,4.03,3.0,242.0
3,104,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,18.7,394.63,2.94,0.0,222.0
4,105,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,18.7,396.90,5.33,0.0,222.0

- partA. WE are comparing Uganda's average CRIM rate according to a small group(group 1) which is less than or equal to 0.7

In [ ]:
from scipy.stats import ttest_1samp

# Subset the dataset  into Group 1 CRIM
group_1 = housing[housing['CRIM'] <= 0.7]['CRIM'].dropna()



#gauging the mean of uganda against  Group 1 
mean_uganda_crim = 46.6

# Perform a one-sample t-test
t_stat_uganda, p_value_uganda = ttest_1samp(group_1, mean_uganda_crim)

#compute the values
group_1_stats = group_1.describe()
group_1_stats, t_stat_uganda, p_value_uganda

(count    316.000000
 mean       0.163673
 std        0.156883
 min        0.006320
 25%        0.053690
 50%        0.105215
 75%        0.217835
 max        0.671910
 Name: CRIM, dtype: float64,
 np.float64(-5261.707882757563),
 np.float64(0.0))

- Its been revealed the in comparison to the total CRIM in uganda which is 46.6, the rate of the towns is relatively smaller showing that Uganda in general has a higher rate than the towns

- partB. This is a comparison between the average CRIM in the United States and the and the rate of towns with larger rates more than 0.7

In [17]:
# displaying mean for  the US against group 2
mean_us_crim = 49.2

#subset the dataset into  Group 2 using CRIM
group_2 = housing[housing['CRIM'] > 0.7]['CRIM'].dropna()

# Perform  a one-sample t-test
t_stat_us, p_value_us = ttest_1samp(group_2, mean_us_crim)

# Summary statistics for group 2
group_2_stats = group_2.describe()
group_2_stats, t_stat_us, p_value_us

(count    188.000000
 mean       9.386828
 std       12.070678
 min        0.725800
 25%        2.376082
 50%        5.822580
 75%       11.121175
 max       88.976200
 Name: CRIM, dtype: float64,
 np.float64(-45.22452831012455),
 np.float64(1.2411309085153895e-102))

- The average rates of the towns is still far too low compared to the rate of the United States which is 49.2